/* Layout adaptável e rolável da página */
.container-fluid {
  height: auto !important;
  min-height: calc(100vh - 80px);
  overflow-y: auto !important;
  display: block;
}

/* Garante que o card estique de acordo com o conteúdo interno */
.card {
  height: auto !important;
  min-height: min-content;
  display: flex;
  flex-direction: column;
}