.como-funciona{
    background-color: #BCDBDB;
}
.como-funciona p{
    font-size: 1.3rem;
}
.como-funciona h5 {
    font-size: 1.3rem;
}


.por-que p {
  font-size: 1.3rem;
}

.por-que h6 {
  font-size: 1.3rem;
}


.footer-link {
  font-size: 1rem;
}

.footer-descricao {
  font-size: 1rem;
}
div.modal-content {
  border: 0 !important;
  box-shadow: none !important;
}